.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    h1 {
        margin-bottom: 40px;
    }

    .home-section {
        margin-bottom: 35px;

        .home-subtitle {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 25px;
        }
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
    }

    .home-post_div {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(5, 1fr);
    }
    .search-post_div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.home-div {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.search-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .serarch-form_inputText {
        padding: 10px 20px;
        font-size: 20px;
        outline: none;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        width: 500px;
        border: 2px solid rgba(0,0,0,0.7);
        border-right: none;
    }
    .search-form_submit {
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        color: white;
        outline: none;
        cursor: pointer;
        background-color: rgba(0,0,0,0.7);
    }
}