.search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 70%;
    border-radius: 8px;
    background-color: #F8F9FA;
    padding: 20px;
    box-shadow: 2px 5px 10px rgb(0 0 0 / 20%);
    .search-section_span {
        //font-size: 30px;
        margin-right: 10px;
        margin-left: 5px;
        font-weight: 600;
    }

    .search-section_form {
        
        .search-section_form-inputText {
            font: inherit;
            border: 0;
            border-bottom: 2px solid rgba(0, 0, 0, 0.8);
            text-align: center;
            background: transparent;
            outline: none;
            width: 350px;
            font-weight: 600;
        }
        .search-section_form-submit {
            display: none;
        }
    }
}
.postNothing-span {
    border-radius: 8px;
    border: 1px solid #e9ecef;
    background-color: #F8F9FA;
    width: 100%;
    padding: 20px;
    line-height: 1.7;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        margin-top: 5px;
        font-size: 17px;
        font-weight: 600;
        text-decoration: underline;
    }
}