// #postContainer{
//     display: block;
//     min-height: 35rem;
//     border-left: 1px solid #ccc;
//     border-right: 1px solid #ccc;
//     margin : 1rem auto;
//     max-width: 1300px;
// }

// .main_content{
//     display: flex;
//     flex:1;
//     justify-content: center;
//     align-items: center;
//     flex-direction: row;
// }

// .box_postphoto{
//     max-width: 700px;
//     display:block;
//     flex:1;
// }
// .box_postphoto-info {
//     display: flex;
//     align-items: center;
// }

// .box_name{
//     margin-right: 20px;
// }

// .right{
//     float:right;
// }

// .btn-like {
//     color: transparent;
//     text-shadow: 0 0 2px rgba(255,255,255,.7), 0 0 0 #000;
// }
// .btn-like:hover {
//     cursor:pointer;
// }
// .btn-like.done {
//     color: inherit;
//     text-shadow: 0;
// }

// .limit_picture{
//     max-width: 700px;
//     height: auto;
// }

// .center{
//     text-align: center;
// }



// .box_content{
//     display: block;
//     flex: 1;
//     max-width:900px;
// }

// #likeBtnIcon {
//     background-color: transparent;
//     color: red;
//     outline: 0;
//     border: 0;
// }

#watchDiv {
    display: flex;
    justify-content: center;
}
#postContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 600px;

    .watchImage {
        width: 100%;
        height: 500px;
        border-radius: 15px;
        margin-bottom: 15px;
        object-fit: cover;
    }
    .watchDescription {
        font-size: 19px;
    }
    hr {
        color:rgba(0, 0, 0, 0.5);
        size: 1px;
        width: 100%;
        margin: 20px 0;
    }
}
.watchInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .watchInfo-div {
        display: flex;
        align-items: center;
        .watchInfo-title {
            font-size: 30px;
            font-weight: 600;
            margin-right: 10px;
        }
        .watchInfo-heart {
            display: flex;
            align-items: center;
            button {
                margin-right: 2px;
                background-color: transparent;
                color: $heart;
                outline: 0;
                border: 0;
                cursor: pointer;
            }
            span {
                font-size: 22px;
            }
        }
    }
    .watchInfo-views {
        font-size: 20px;
    }
}
.watchSubInfo {
    margin-bottom: 30px;
    .watchSubInfo-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        .watchSubInfo-owner {
            font-size: 16px;
            a {
                font-size: 18px;
                font-weight: 600;
            }
        }
        .watchSubInfo-btns {
            a {
                border-radius: 5px;
                padding: 8px 10px;
                background-color: rgba(0, 0, 0, 0.1);
                margin-left: 10px;
            }
        }
    }
}
.post__add-comments {
    margin-bottom: 20px;
    span {
        font-size: 17px;
    }
    .post__comments-form {
        display: flex;
        align-items: center;
        margin-top: 15px;
        textarea {
            padding: 10px 8px;
            width: 515px;
            height: 30px;
            resize: none;
            outline: none;
            border-radius: 7px;
            font-family: inherit;
            font-weight: 600;
            border: 2px solid rgba(0, 0, 0, 0.3);  
            &:focus {
                border: 2px solid $heart;  
            }
        }
        button {
            margin-left: auto;
            padding: 15px 20px;
            font-size: 20px;
            border-radius: 10px;
            border:none;
            cursor: pointer;
            color: #ffffff;
            background-color: $heart;
        }
    }
}
.post__comments {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    margin: 0 auto;
    .post__comment {
        padding: 15px 25px;
        margin-bottom: 15px;
        border-radius: 8px;
        font-size: 16px;
        color: white;
        background-color: rgba(0, 71, 160, 0.7);
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            padding: 5px 0;
        }
        .post__comment-btn  {
            button {
                background-color: transparent;
                margin-left: 10px;
                border: none;
                cursor: pointer;
                padding: 5px;
                &:hover {
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }

        }
    }
}