include mixins/message

doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet" href="/static/css/styles.css")
    link(href="/uploads\\logo.png" rel="shortcut icon" type="image/x-icon")
    title #{pageTitle} | #{siteName}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/53d5fb5b1b.js" crossorigin="anonymous")
  body
    if messages.error
      +message("error", messages.error)
    if messages.info 
      +message("info", messages.info)
    include partials/header.pug
    main#wrap
      div#wraper-div    
        block content
      include partials/footer.pug
  block scripts