doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    title #{pageTitle} | #{siteName}
  body
    header
        h1=pageTitle
        nav 
            ul 
                li
                    a(href="/") Home
                li 
                    a(href="/search") Search
                if loggedIn
                    li 
                        a(href="/posts/upload") Upload
                    li
                        a(href="/users/edit") Edit Profile
                    li 
                        a(href="/users/logout") LogOut
                    li 
                        a(href="/profile") #{loggedInUser.name}의 프로필
                else
                    li 
                        a(href="/join") Join
                    li 
                        a(href="/login") login
    main    
        block content
    include partials/footer.pug
    