extends base

block content 
    if errorMessage 
        span=errorMessage
    div.login-entire_div 
        div.login-div
            form(method="POST").login-form
                input(name="oldPassword" type="password" required:true placeholder="현 비밀번호").login-form_inputText
                input(name="newPassword" type="password" required:true placeholder="새 비밀번호").login-form_inputText
                input(name="newPassword2" type="password" required:true placeholder="새 비밀번호 확인").login-form_inputText
                input(type="submit" value="수정").login-form_submit