extends base.pug

block content
    if errorMessage 
        span=errorMessage
    div.login-entire_div 
        div.login-div
            form(method="POST").login-form
                input(name="name" type="text" required:true placeholder="Name" value=loggedInUser.name).login-form_inputText
                input(name="id" type="text" required:true placeholder="ID" value=loggedInUser.id).login-form_inputText
                input(type="submit" value="수정").login-form_submit
            div.div_hr 
            div.login-div_question
                a(href="change-password") 비밀번호 변경 &rarr;
                a(href="remove-profile")#deleteProfile 계정 삭제