extends base
include mixins/post

block content
    div.home
        div.home__title-div
            h1 
                span Do You
                span Know?
        section.home-section
            div.home-section__title
                p.home-subtitle ✔ 최다 조회수
                p.home-viewMore 
                    a(href="/mostview") 더보기 &rarr;
            div.home-post_div
                each item in viewsPosts.slice(0, 5) 
                    +post(item)
                else 
                    span 게시글이 없습니다
            hr
        section.home-section
            div.home-section__title
                p.home-subtitle ✔ 최다 좋아요
                p.home-viewMore 
                    a(href="/mostlike") 더보기 &rarr;
            div.home-post_div
                each item in thumbsupPosts.slice(0, 5) 
                    +post(item)
                else 
                    span 게시글이 없습니다
            hr
        section.home-section
            div.home-section__title
                p.home-subtitle ✔ 최신 업로드
                p.home-viewMore 
                    a(href="/latest") 더보기 &rarr;
            div.home-post_div
                each item in recentPosts.slice(0, 5) 
                    +post(item)
                else 
                    span 게시글이 없습니다

