extends base

block content 
    if errorMessage 
        p=errorMessage
    div.login-entire_div
        div.login-div
            form(method="POST").login-form
                input(name="id" placeholder="ID" type="text" required).login-form_inputText
                input(name="password" placeholder="Password" type="password" required).login-form_inputText
                input(value="Login" type="submit").login-form_submit
            div.div_hr 
            div.login-div_question
                span 계정이 없으신가요? 
                a(href="/join") Join &rarr;