extends base

block content 
    if errorMessage 
        p=errorMessage
    form(method="POST")
        input(name="email" placeholder="Email" type="email" required)
        input(name="password" placeholder="Password" type="password" required)
        input(value="Login" type="submit")
    hr
    div
        span 계정이 없으신가요? 
        a(href="/join") Join &rarr;