extends base
include mixins/post

block content
    div.home
        section.home-section
                div.home-post_div
                    each item in viewsPosts
                        +post(item)
                    else 
                        span 게시글이 없습니다