extends base
include mixins/post

block content
    div.home
        div.home-post_div
            each item in user.posts 
                +post(item)
            else 
                li Sorry, this nothing