extends base.pug

block content
    if errorMessage 
        span=errorMessage
    div.login-entire_div 
        div.login-div.upload-div
            form(method="POST", enctype="multipart/form-data").login-form.upload-form
                label(for="image").upload-label 이미지 첨부
                input(type="file" id="image" name="image" accept="image/*").login-form_inputText
                input(name="title" type="text" placeholder="이름" required maxlength=50).login-form_inputText
                textarea(name="description" cols="30", rows="10" placeholder="상세 설명" required).login-form_textArea
                input(value="업로드" type="submit").login-form_submit