/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/frontend/scss/styles.scss ***!
  \************************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.post-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.post-div .post-photo {
  height: 130px;
  width: 180px;
  overflow: hidden;
  border-radius: 8px;
}
.post-div .post-photo img {
  width: 100%;
  height: 100%;
  display: block;
}
.post-div .post-info {
  width: 100%;
}
.post-div .post-info .post-title_div {
  width: 180px;
  height: 20px;
}
.post-div .post-info .post-title_div .post-title_p {
  display: block;
  height: inherit;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-div .post-info_meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.post-div .post-info_meta .post-info_meta-heart {
  display: flex;
  align-items: center;
}
.post-div .post-info_meta .post-info_meta-heart i {
  color: #ED4956;
  margin-right: 5px;
}
.post-div .post-info_meta .post-info_meta-heart span {
  font-size: 14px;
}

header {
  margin: 15px;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_title-div {
  display: flex;
  align-items: center;
}
.header_title-div .header_title-div_h1 {
  margin-left: 10px;
  font-size: 25px;
}

.header_ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header_ul-li {
  margin-left: 20px;
  font-weight: 600;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
footer .footer-p {
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.home h1 {
  margin-bottom: 40px;
}
.home .home-section {
  margin-bottom: 35px;
}
.home .home-section .home-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
.home h1 {
  font-size: 40px;
  font-weight: 700;
}
.home .home-post_div {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(5, 1fr);
}
.home .search-post_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-div {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.search-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search-form .serarch-form_inputText {
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 500px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-right: none;
}
.search-form .search-form_submit {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

.login-entire_div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 50px 25px;
}
.login-div .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-div .login-form .login-form_inputText {
  font-size: 15px;
  margin-bottom: 13px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.login-div .login-form .login-form_submit {
  padding: 10px 15px;
  font-weight: 600;
  width: 70%;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}
.login-div .login-div_question {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-div .login-div_question a {
  margin-left: 10px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.div_hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 20px 0;
}

.upload-label {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 15px;
}

.edit-form_img {
  margin-bottom: 15px;
}

#postContainer {
  display: block;
  min-height: 35rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 1rem auto;
  max-width: 1300px;
}

.main_content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box_postphoto {
  max-width: 700px;
  display: block;
  flex: 1;
}

.box_postphoto-info {
  display: flex;
  align-items: center;
}

.box_name {
  margin-right: 20px;
}

.right {
  float: right;
}

.btn-like {
  color: transparent;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.7), 0 0 0 #000;
}

.btn-like:hover {
  cursor: pointer;
}

.btn-like.done {
  color: inherit;
  text-shadow: 0;
}

.limit_picture {
  max-width: 700px;
  height: auto;
}

.center {
  text-align: center;
}

.box_content {
  display: block;
  flex: 1;
  max-width: 900px;
}

#likeBtnIcon {
  background-color: transparent;
  color: red;
  outline: 0;
  border: 0;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 30px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #e9ecef;
  background-color: #F8F9FA;
  padding: 20px;
}
.search-section .search-section_span {
  margin-right: 10px;
  margin-left: 5px;
}
.search-section .search-section_form .search-section_form-inputText {
  font: inherit;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  background: transparent;
  outline: none;
  width: 350px;
}
.search-section .search-section_form .search-section_form-submit {
  display: none;
}

.postNothing-span {
  border-radius: 8px;
  border: 1px solid #e9ecef;
  background-color: #F8F9FA;
  width: 100%;
  padding: 20px;
  line-height: 1.7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postNothing-span a {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
