footer  
    span Do you know
    p.footer-p 2022 데이터베이스 프로그래밍 프로젝트
    a(href="https://github.com/lee-yun-pyo/Junior-Project-univ" target="blank") 
        div
            i.fa-brands.fa-github.fa-lg