header
    nav.header_nav
        div.header_title-div 
            a(href="/") 
                i.fa-regular.fa-thumbs-up
            span.header_title-div_span=pageTitle
        nav 
            ul.header_ul 
                li.header_ul-li 
                    a(href="/search") 검색
                if loggedIn
                    li.header_ul-li 
                        a(href="/users/edit") 프로필 수정
                    li.header_ul-li  
                        a(href="/users/logout") 나가기
                    li.header_ul-li  
                        a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}
                else
                    li.header_ul-li  
                        a(href="/join") 회원가입
                    li.header_ul-li  
                        a(href="/login") 입장